Code
Code - OSS'
GIMP
Joplin
MongoDB Compass'
QtProject.conf
StardewValley
Thunar
VirtualBox
ardour7
audacity
autostart
calibre
cef_user_data
chromium
coc
configstore
dconf
deluge
discord
fcitx
fluent-reader
fontconfig
fontforge
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
htop
inkscape
joplin-desktop
kdeglobals
kdenlive-layoutsrc
kdenliverc
lazygit
libreoffice
mimeapps.list
mozc
neofetch
nitrogen
nordvpn
obsidian
openmw
opera
procps
pulse
qmk
retroarch
sioyek
vifm
vlc
xfce4
yay
zathura
spotify
sqlitebrowser
transmission
unity3d
via-nativia
systemd
